.identicon-right-abs {
  width: 3.125rem;
  height: 3.125rem;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.profile-background-image {
  position: relative;
  width: 100vw;
  height: 250px;
  margin-bottom: -110px;
  background-size: cover;
  background-position: 50%;
  background-color: #f2f2f2;
  z-index: -1;
}

.profile-link {
  display: block;
  width: 15rem;
  align-self: center;
  padding: 1rem;
}

a.profile-link {
  color: white;
}

.profile-link:focus,
.profile-link:hover {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

@media only screen and (min-width: 1200px) {
  .profile-background-image {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 125px;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
  }
}
